.chatbot-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fa;
    border-radius: 8px;
    padding: 14px;
    position: fixed;
    right: 0;
    bottom: 50px;
    z-index: 11;
}

.chat-window {
    height: 400px;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    background-color: #fff;
    scrollbar-width: thin;
    scrollbar-color: #ddd #f5f5f5;
}

.message {
    padding: 6px 10px;
    margin: 8px 0;
    border-radius: 10px;
    max-width: 85%;
    word-wrap: break-word;
    line-height: 1.4;
    font-size: 13px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.chatbot-remove {
    width: 7rem;
    background-color: #2980b9;
    color: white;
    border-radius: 6px;
}

.chatbot-clear {
    width: 7rem;
    background-color: rgb(79, 72, 72);
    color: white;
    border-radius: 6px;
}

.user {
    background-color: #e0f7fa;
    text-align: right;
    margin-left: auto;
    border-bottom-right-radius: 0;
}

.bot {
    background-color: #f0f0f0;
    text-align: left;
    margin-right: auto;
    border-bottom-left-radius: 0;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    background-color: #fff;
    padding: 5px;
    justify-content: space-between;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.chat-input input {
    flex: 1;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s;
    margin-right: 5px;
}

.chat-input input:focus {
    border-color: #3498db;
}

.chat-input button {
    padding: 6px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #2980b9;
}

.chat-input button:active {
    transform: scale(0.95);
}

/* Animation for messages */
.message {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width:400px) {

    .chatbot-container {
        width: 250px;
        padding: 8px;
        bottom: 200px;
    }


    .chat-window {
        height: 350px;
        padding: 5px;
    }

    .message {
        font-size: 11px;
    }

    .chatbot-remove {
        width: 5rem;
    }

    .chatbot-clear {
        width: 5rem;
    }

    .chat-input input {
        width: 90%;
        padding: 4px;
        border-radius: 18px;
        margin-right: 0px;
    }

    .chat-input button {
        padding: 4px 6px;
    }
}
