
.my-orders{
    margin:50px 0px;
}

.my-orders h2{
    margin-left: 40px;
    font-size: 24px;
    font-weight: 600;
    color:#454545
}

.my-orders .container{
    width: 94%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin:auto;
}

.my-orders-order{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: #454545;
    border: 1.8px solid rgb(127, 121, 121);
    border-radius: 4px;
}

.my-orders-order img{
    width: 50px;
}

.my-orders-order p span{
    color: rgb(204, 80, 80);
}

.my-orders-order p b{
    font-weight: 600;
    color:#454545;
}
.my-orders-order button{
    border: none;
    padding: 12px 0;
    border-radius: 4px;
    background-color:#454545 ;
    cursor: pointer;
    color: white;
}

@media (max-width:650px){

    .my-orders-order{
        grid-template-columns: 1fr 1fr 1fr;
    }

}